<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cellDetail</key>
			<string>010-8464612</string>
			<key>cellName</key>
			<string>客服电话</string>
		</dict>
		<dict>
			<key>cellDetail</key>
			<string>app@watcn.cn</string>
			<key>cellName</key>
			<string>邮箱</string>
		</dict>
		<dict>
			<key>cellDetail</key>
			<string>北京市朝阳区望京东区7区19号楼保利国际广场T1-501B</string>
			<key>cellName</key>
			<string>公司地址</string>
		</dict>
	</array>
</array>
</plist>
